<!doctype html>
<meta charset="utf-8">
<html>
  <body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h2 style = "text-align: center;">Doc2Vecテスト(類似カテゴリ、類似法令)</h2>
    {% for message in form.word.errors %}
    <div>{{ message }}</div>
    {% endfor %}

    {% for message in form.submit.errors %}
    <div>{{ message }}</div>
    {% endfor %}
    <div>
      <span>
	<a href="{{url_for('search') }}">類似単語検索</a>
      </span>
    </div>
    <div id="catdict_container">
    <h2>カテゴリの比較</h2>
    {% for k in catdict %}
    <div>
      <h4>{{ k }}の類似カテゴリ</h4>
      <table>
	{% for c in catdict[k] %}
	<tr>
          <td>{{ c[0] }} </td><td>{{c[1]}}</td>
	</tr>
      {% endfor %}
      </table>
    </div>
    {% endfor %}
    </div>
    <div id="lawdict_container">
    <h2>法令の比較</h2>
    {% for title in lawdict %}
    <div>
      <h3>{{title}}の類似法令</h3>
      {% for k in lawdict[title] %}
      <h4>{{ k }}</h4>
      <table>
	{% for c in lawdict[title][k] %}
	<tr>
          <td>{{ c[0] }} </td><td>{{c[1]}}</td>
	</tr>
      {% endfor %}
      </table>
      {% endfor %}
    </div>
    {% endfor %}
    </div>

  </body>
  </html>
